<h3>Edit Contact</h3>

<!-- This is a responsive form. At small sizes the label will stack above its control -->
<form name="contactForm" class="form-horizontal" role="form" ng-submit="save()">    <!-- role="form" is for screen readers/ARIA, not sure how/if bootstrap uses it -->

   <!-- First Name -->
   <div class="form-group">
      <!-- control-label: Bootstrap includes validation styles for error, warning, and success states on form controls. -->
      <label for="firstname" class="control-label col-md-2">First Name:</label>

      <div class="col-md-10">                                                                                  <!-- Note focus and required -->
         <input type="text" id="firstname" ng-model="contact.firstname" class="form-control" placeholder="First name" focus required>
      </div>
   </div>

   <!-- Last Name -->
   <div class="form-group">
      <label for="lastname" class="control-label col-md-2">Last Name:</label>
      <div class="col-md-10">
         <input type="text" id="lastname" ng-model="contact.lastname" class="form-control" placeholder="Last name" required>
      </div>
   </div>

   <div>
      <!-- ng-disabled="contactForm.$invalid" disables the button if the form isn't valid. Required
           fields with no valid will cause the form to be in an invalid state -->

      <!-- ng-show="contact._id" is so this button will only display when updating not when
           adding. When adding there will not be a contact._id value -->
      <span ng-show="contact._id">
         <button class="btn btn-primary" ng-disabled="contactForm.$invalid">Save</button>
      </span>

      <!-- Show this button when contact._id is blank. This happens when adding. -->
      <span ng-hide="contact._id">
         <button class="btn btn-primary" ng-disabled="contactForm.$invalid">Add</button>
      </span>

      <!-- Show this button when contact._id is blank. This happens when adding. -->
      <button class="btn btn-danger" type="button" ng-click="remove()" ng-show="contact._id">Delete</button>
   </div>
</form>

{{contact.firstname}} {{contact.lastname}}
